// ----------- side-circle-anim -----------
.side-circle-anim{
  position:relative;
  left:-50px;
  opacity:0px;
  animation-name:side-circle-in;
  animation-duration:0.7s;
  animation-fill-mode:forwards;
}
.c-2{animation-delay:0.4s;}
.c-3{animation-delay:0.6s;}
.c-4{animation-delay:0.2s;}

@keyframes side-circle-in{
  0%{left:-50px;opacity:0;}
  60%{left:5px;}
  100%{left:0;opacity:1;}

}
// ----------- intro-head-anim -----------
.intro-head-anim{
  animation-name:intro-head-in;
  animation-duration: 1s;
  animation-delay:1s;
  animation-fill-mode:forwards;
}
@keyframes intro-head-in{
  0%{left:30px;opacity:0;}
  100%{opacity:1;transform:translate(-30px,0);}
}
.intro-btn-anim{
  animation-name:intro-btn-in;
  animation-duration:1s;
  animation-delay:2s;
  animation-fill-mode:forwards;
}
@keyframes intro-btn-in{
  0%{opacity:0;}
  100%{opacity:1;}
}
// ----------- intro-main-anim -----------
.intro-main-out{
  animation-name:intro-main-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes intro-main-out{
  0%{left:0; opacity:1;}
  50%{left:0;transform:scale(0.9);}
  90%{opacity:0;}
  100%{left:-200px;transform:scale(0.9);opacity:0;}
}
// ----------- nav-anim -----------
.nav-in{
  animation-name:nav-in;
  animation-duration:0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes nav-in{
  0%{top:-50px;opacity:0;}
  60%{top:10px;}
  100%{top:0px;opacity:1}
}
.nav-out{
  top:0px;
  animation:0.5s forwards nav-out;
}
@keyframes nav-out{
  0%{top:20px;opacity:1;}
  40%{top:30px;}
  100%{top:-30px;opacity:0;}
}
// ----------- about-main-anim -----------
.about-main-in{
  animation:1s forwards about-main-in;
}

@keyframes about-main-in{
  0%{left:200px;opacity:0;transform:scale(0.9)}
  50%{left:0px;transform:scale(0.9);}
  90%{left:0px;transform:scale(1);}
  100%{left:0px;opacity:1;}
}

.about-main-out{
  left:0;
  opacity:1;
  animation:0.7s 0.5s forwards about-main-out;
}
@keyframes about-main-out{
  0%{left:0;opacity:1;}
  50%{left:0;top:0;transform:scale(0.9);}
  100%{top:-100px;transform:scale(0.9);opacity:0;}
}
// ----------- mytools-main-anim -----------
.main-in{
  transform-origin: top;
  animation:1s forwards main-in;
}
@keyframes main-in{
  0%{top:100px;opacity:0;transform:scale(0.9)}
  50%{top:0px;transform:scale(0.9);}
  90%{top:0px;transform:scale(1);}
  100%{top:0px;opacity:1;}
}
.main-out{
  top:0;
  opacity:1;
  transform-origin: top;
  animation:0.7s 0.5s forwards main-out;
}
@keyframes main-out{
  0%{top:0;opacity:1;}
  50%{top:0;transform:scale(0.9);}
  100%{top:-100px;transform:scale(0.9);opacity:0;}
}
