// ----------- Jargon ----------
// cb         = Common Buttons
// ib         = Intro Button.
// cbc[c|o|i] = container|outer|inner.
// cb[T|M|B]  = top|middle|bottom.
// cb[T|M|B]M = motion.

button {
  font-family: "Quicksand", sans-serif;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.cbc {
  display: block;
  cursor: pointer;
  border-radius: 20px;
  height: 20px;
  text-align: left;
  transition: 0.2s;
  &:hover {
    background-color: $p-lightgrey;
  }
  &:active .cb {
    background-color: $p-red;
    transition: 0.3s;
  }
}
.ibc {
  display: block;
  cursor: pointer;
  text-align: left;
  z-index: 1;
}

.cb,
.ibo {
  background-color: $p-grey;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  outline: none;
  width: 20px;
}
.ibo:hover {
  animation: none;
  background-color: $p-red;
}
.ibo:active {
  background-color: $p-grey;
  transform: scale(0.8);
  transition: 0.3s;
}
.ibi {
  background-color: transparent;
  box-sizing: border-box;
  border: solid 1px $p-grey;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  position: absolute;
  width: 20px;
}
.ibo:active .ibi {
  border-color: $p-grey;
}
.ibo:hover .ibi {
  animation: none;
  border-color: $p-red;
}
.iboPulse {
  animation-name: pulseIn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.ibiPulse {
  animation-name: pulseOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulseIn {
  25% {
    transform: scale(0.9);
    background-color: $p-red;
  }
  45% {
    transform: scale(1);
    background-color: $p-grey;
  }
}
@keyframes pulseOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* ------------------------------------- */
.ibCont {
  // position:relative;
  height: 160px;
  width:200px;
  // outline: solid 1px red;
  // left:20%;
}
.intro {
  z-index: 0;
}
.dispBlk{
  display:block;
}
.ibM {
  position: relative;
  top: 70px;
}
.cbT {
  opacity: 0;
  display: none;
  position: relative;
  top: 47px;
  left: 0px;
}
.cbTM {
  animation-name: cbTM;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 0;
}@keyframes cbTM {
  50% {top:-3px;left:50px;}
  100%{top:7px;left:40px;opacity:1;
  }
}
.cbTClear{
  animation-name:cbTClear;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}@keyframes cbTClear{
    0%{top:7px;left:40px;opacity:1;}
   30%{top:-3px;left:60px;}
   90%{opacity:0;}
  100%{top:47px;left:0px;}
}


.cbM {
  opacity: 0;
  display: none;
  position: relative;
  top: 27px;
  left: 0px;
}
.cbMM {
  animation-name: cbMM;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}@keyframes cbMM {
  50% {left:50px;}
  100%{opacity: 1;left:40px;}
}
.cbMClear{
  animation-name:cbMClear;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}@keyframes cbMClear{
    0%{top:27;left:40px;opacity:1;}
   30%{top:27;left:60px;}
   90%{opacity:0;}
  100%{top:27;left:0px;opacity:0;}
}


.cbB {
  opacity: 0;
  display: none;
  position: relative;
  top: 7px;
  left: 0px;
}
.cbBM {
  animation-name: cbBM;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}@keyframes cbBM {
  50% {top:57px;left:50px;}
  100%{top:47px;left:40px;opacity:1;}
}
.cbBClear{
  animation-name:cbBClear;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}@keyframes cbBClear {
     0%{top:47px;left:40px;opacity:1;}
    30%{top:57px;left:60px;}
    90%{opacity:0;}
   100%{top: 7px;left:0px;opacity:0;}
}

.dispBlk{
  display:block;
}
// ------------------------------------

.btnTxt {
  color: $p-grey;
  display: inline;
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  margin: 0 10px 0 10px;
  vertical-align: top;
  white-space: nowrap;
}
.txtCntOut {
  width: 100px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
}
.txtCntIn {
  position: relative;
  left: -10px;
  vertical-align: middle;
  display: inline-block;
  width: 0;
  opacity: 0;
  height: 20px;
  overflow-x: hidden;
  background-color: $p-lightgrey;
  border-radius: 20px;
}
.txtRvl {
  animation-name: txtReveal;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes txtReveal {
  50% {
    left: 0px;
    width: 100px;
  }
  100% {
    left: 0px;
    width: 100px;
    opacity: 1;
  }
}
