.dash{
  vertical-align:middle;
  display:inline-block;
  width:20px;
  height:1px;
  background-color:$p-grey;
  margin:0px 3px 0 6px;
}

.mini{
  display:inline-block;
  white-space:nowrap;
  opacity:0;
  position:relative;
  left:-50px;
  transition: 0.5s;
}
.mini-disp{
  left:0;
  opacity:1;
}
.mini-out{
  vertical-align:middle;
  max-width:400px;
  display:inline-block;
  min-width:2px;
  min-height:2px;
  background-color:$p-bgrey;
  border-radius:23px;
  overflow-x:hidden;
  white-space:normal;
}
.mini-ctrl{
  opacity:1;
  left:0px;
}
p.mini-txt{
  margin:0px;
  text-align: center;
}
.mini-txt{
  display:none;
  position:relative;
  color:$p-grey;
  font-size:13px;
  line-height:17px;
  padding:3px 12px;
  margin:0px;
  vertical-align:middle;
  opacity:0;
}
.mini-txt-fade-in{
  animation-name:fade-in;
  animation-duration:0.7s;
  animation-fill-mode:forwards;
}
.mini-txt-fade-out{
  animation-name:fade-out;
  animation-duration:0.7s;
  animation-fill-mode:forwards;
}
@keyframes fade-in{
  100%{
    opacity:1;
    left:0;
  }
}
@keyframes fade-out{
  0%{
    left:0;
    opacity:1;
  }
  100%{
    opacity:0;
    left:0px;
  }
}
.disp{
  display:inline-block;
  opacity:1;
}
