.html-projects{
  height:100%;

  body{
    height:98%;
    width:95%;
    max-width: 1200px;
    margin:auto;
  }
  header{
    display:inline-block;
    width:20%;
    // min-width:200px;
  }
  main{
    display:inline-block;
    width:80%;
  }
}

.menu{
  position: relative;
  top:50px;
  margin-bottom:50px;

  .projects-head {
    margin:auto;
    position: relative;
    padding:0;
  }
  .hr{
    border:none;
    height:1px;
    width:0;
    background-color:$p-lightgrey;
    -webkit-transition: all 0.5s 0.2s ease;
    transition: all 0.5s 0.2s ease;
  }
  .hr-in{
    width:100%;
  }

  .menu-header{
    position: relative;
    left:-30px;
    opacity:0;
    width:100%;
    text-align: right;
    font: 40px/40px $font-h;
    text-transform: uppercase;
    color:$p-grey;
    margin-top:10px;
    -webkit-transition: all 1s 0.2s ease;
    transition: all 1s 0.2s ease;
  }

  .menu-header-in{
    left:0;
    opacity:1;
  }
  .projects-list{
    // outline:solid 1px red;
    width:100%;
    text-align: right;
    ul{
      list-style: none;
      padding:0;
    }
    .p-item{
      // outline:solid 1px red;
      cursor: pointer;
      position:relative;
      right:0;
      top:-10px;
      opacity:0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .p-item-in{
      transform-origin: right;
      top:0;
      opacity:1;
    }
    p{
      color:$p-midgrey;
      display: inline-block;
      font:20px/30px $font-h;
      margin:5px 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .p-selected p{
      color:$p-grey;
      -webkit-transform:scale(1.5);
              transform:scale(1.5);
    }
    .p-selected .dash{
      background-color:$p-grey;
      margin:0 10px 10px 0;
      transform: scaleX(2)

    }
    .dash{
      background-color: $p-midgrey;
      display: inline-block;
      width:10px;
      margin:0 10px 7px 0;
      height:1px;
      vertical-align: middle;
      -webkit-transition: all 0.3s ease-in-out;
      transform-origin: right;
      transition: all 0.3s ease-in-out;
    }
    .p-item:hover{
      right:5px;
    }
    .p-item:hover .dash{
      transform:scaleX(2);
    }
  }
}

.project{
  position: relative;
  top:50px;
  opacity:0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.project-in{
  top:0;
  opacity:1;
}
.project article{
  position:relative;
  color:$p-grey;
  margin:110px 50px 50px ;

  h2 {
    font:20px $font-h;
    color:#B71818;
    margin:0  0 5px 0;
  }
  p{
    font:14px $font-p;
    margin:5px 0;
  }

  .heading-box{
    margin-left:10px;
  }
  .image-box{
    position:relative;

    img{
      box-shadow: 0 3px 10px rgba(0,0,0,0.4);
      border-radius: 7px;
      margin:15px;
    }
    .mobile-img{
      position:absolute;
      top:60px;
      right:0;
    }
  }
  
  
  .visit-link{
    position: absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#B71818;
    color:white;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    margin:5px;
    transition: all 0.5s ease;

    &:before{
      content:'Visit';
      font:14px $font-p;
      position:absolute;
      right:30px;
      top:calc(50% - 14px);
      opacity:0;
      // height:18px;
      color:#555;
      background-color:#eee;
      padding:7px;
      width:0;
      overflow: hidden;
      word-wrap:none;
      border-radius:5px;
      transform-origin: right;
      transition:all 0.5s ease;
    }
    &:hover{
      box-shadow: 0 0 5px rgba(0,0,0,0.9);
    }
    &:hover:before{
     opacity:1;
     right:50px;
     width:40px;

    }
    i.fas{
      position:relative;
      top:calc(50% - 8px);
    }
  }
}

@media (max-width:835px){
  .html-projects{
    header{
      display:block;
      width:90%;
      // min-width:200px;
      margin:auto;
    }
    main{
      display:block;
      width:100%;
      margin:auto;
    }
  }
.project article{
  margin:80px auto;
}

  .image-box{
    position:relative;

    img{
      box-shadow: 0 3px 10px rgba(0,0,0,0.4);
      border-radius: 7px;
      margin:15px;
      width:90%;
    }
    .mobile-img{
      position:absolute;
      top:60px;
      right:0;
      width:30%;
    }
  }
}