$font-h:'Slabo 13px', serif;;
$font-p:'Quicksand', sans-serif;
$font-wd:'Pacifico', cursive;
$p-darkgrey:#343434;
$p-grey:#5A5A5A;
$p-midgrey:#B9B9B9;
$p-lightgrey:#F2F2F2;
$p-red:#D34949;
$p-bgrey:#F2F2F2;


@import 'anim';
@import 'navs';
@import 'projects';
@import 'mini';
@import 'mytools';

a{
  text-decoration: none;
  color:inherit;
}

.html-index{
  height:200%;
}
.body-index{
  height:100%;
  margin:0 0px;
}
.main-index{
  position: relative;
  height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
//----------- Intro ---------------
.intro{
  height:50%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  .intro-cont{
    z-index:1;
    color:$p-darkgrey;
    display:block;
    width:220px;
    margin:0 auto;
    text-align: left;
  }
  .intro-head p{
    margin:-50px 0;
    font:53px/50px $font-h;
    display: inline;
  }
  .head-hi, .head-there{
    display: inline-block;
    position: relative;
    top:90px;
    opacity:0;
  }
  .intro-p1-wrap{
    position:relative;
    border-radius: 5px;
    left:-20px;
    opacity:0;
    display:block;
    margin:0 auto;
    max-width:340px;
    -webkit-transform-origin: left;
            transform-origin: left;
    height:40px;
    background-color:$p-red;
  }
  .intro-p1{
    position: relative;
    right:-30px;
    opacity:0;
    margin:0;
    font:40px/40px $font-h;
  }
  .intro-p2{
    position:relative;
    bottom:10px;
    opacity:0;
    margin:7px 0;
    font:18px/18px $font-h;
    text-align: right;
  }

}
#intro-svg{
  position: absolute;
  z-index:-1;
}
.intro-svg{
  fill:$p-lightgrey;
}

.svg-arrow-wrap{
  width:50px;
  margin:auto;
  text-align: center;
}
.arrow{
  position: relative;
  top:25px;
  opacity:0;
  path{
  fill:$p-grey;
  }
  .ccl{
  opacity:0;

  }
}
.arrow-anim{
  -webkit-animation:1.7s 0.2s ease infinite bounce;
          animation:1.7s 0.2s ease infinite bounce;
  .ccl{
    -webkit-animation: 1.7s 0.2s ease infinite ccl-opacity;
            animation: 1.7s 0.2s ease infinite ccl-opacity;
  }
}
//----------- About me ---------------

.about-me{
  height:50%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin:0 50px;
  .about-cont{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
  }
  .about-h2{
    color:$p-grey;
    font: 35px/30px $font-h;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top:30px;
    right:-30px;
    opacity:0;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .about-image-wrap{
    position: relative;
    top:50px;
    opacity:0;
    width:224px;
    height:424px;
    margin:0 30px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;

  }
  #about-image-svg{
    padding:2px;
    position: absolute;
    z-index: 0
  }
  .about-image-frame{
    fill:none;
    stroke:$p-grey;
    stroke-width:2px;
    stroke-dasharray:100 150;
    stroke-linecap:round;

  }
  .about-image{
    border:solid 1px $p-grey;
    border-radius: 310px;
    width:200px;
    height:400px;
    margin:11px;
    background-image:url(../images/yaseen_image.jpg);
    background-position:55% 50%;
    background-size: cover;

  }
.about-cont-out{
  opacity:0;
}
}
.about-text{
  position: relative;
  left:-30px;
  opacity:0;
  max-width:500px;
  position: relative;
  bottom:0;
  -ms-flex-item-align: end;
      align-self: flex-end ;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-bottom: 100px;
  p{
    color:$p-grey;
    font:16px/20px $font-p
  }
}

//----------- side links ---------------

.side-links{
  margin-top: -95px;
  left:10px;
  position:fixed;
  top:50%;
  z-index:1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  // height:190px;
  // width:50px;
  // display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.side-arrow{
  position: relative;
  cursor: pointer;
  color:$p-grey;
  position: absolute;
  z-index:1000;
  left:-50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.side-arrow-in{
  opacity:1;
  left:0;
}
.side-circles-wrap{
  position: relative;
  padding:2px;
  z-index: 100;
  left:-70px;
  opacity:1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius: 70px;
}
.side-arrow-anim{
  -webkit-transform:rotate(-180deg);
          transform:rotate(-180deg);
  // transform:translatex(30px);
  left:40px;
}
.side-circles-reveal{
  left:0;
  opacity:1;
}
.side-circle, .mail-circle{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border:solid 1px $p-grey;
  border-radius:50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:35px;
  height:35px;
  margin:10px 0px;
  -webkit-transition:0.4s;
  transition:0.4s;
  &:hover{
    border-style:dashed;
  }
  i{
    color:$p-grey;
  }
}






@import 'resp';
