html{
  background-color:#404040;
  height:98%;
  margin:auto;
}

body{
  position:relative;
  background-color:#FF8D8D;
  margin:10px;
  height: inherit;
  padding:2%;
}
main{
  position:absolute;
  top:50%;
  height:20%;
  margin-top:-10%;
  width:inherit;
}
hr{
  margin:20px 0px;
  height:5px;
  border:none;
  background-color:#404040;
}
.heading{
  font: 100px/90px "Patua One";
  color:#404040;
}
.heading p{
  margin:0px;
}
.heading p:nth-child(2){
  font-size:60px;
}
.caption{
  font:21px "Nixie One";
  text-align:left;
  color:white;
}
