html{
  background-color:#404040;
  height:100%;
}

body{
  position:relative;
  background-color:#EF9393;
  margin:10px;
  height: inherit;
  padding:2%;
}
main{
  position:absolute;
  top:50%;
  height:20%;
  margin-top:-10%;
  width:100%;
}
hr{
  margin:20px 0px;
  height:5px;
  border:none;
  width:90%;
  background-color:#404040;
}
.heading{
  width:100%;
  font: 100px/90px "Patua One";
  color:#404040;
}
.heading p{
  margin:0px;
}
.heading p:nth-child(2){
  font-size:60px;
}
.caption{
  font:21px "Nixie One";
  text-align:left;
  color:white;
}
@media screen and (max-width:768px){
  .heading{
    font: 55px/45px "Patua One";
    color:#404040;
  }
  .heading p:nth-child(2){
    font-size:40px;
}
