.ccl1, .ccl2, .ccl3{
  position:absolute;
  width:7px;
  height:7px;
  background-color: transparent;
  border-radius: 50%;
  border:solid 1px #707070;
  animation-name:pulse;
  animation-iteration-count:infinite;
}
.ccl1{
  animation-duration:5s;
  animation-delay:2s;
}
.ccl2{
  animation-duration:5s;
  animation-delay:1s;
}
.ccl3{
  animation-duration:5s;
  animation-delay:3s;
}
.navbtn:hover .cont div{
  animation-delay: 0s;
  animation-name: pulseH;
  animation-duration:0.7s;
}

@keyframes pulse{
  0%{transform:scale(1);
  opacity:1;}
  25%{transform:scale(2);opacity:0;}
  100%{opacity:0;}
}
@keyframes pulseH{
  0%{transform:scale(1);
  opacity:1;}
  50%{transform:scale(2);opacity:0;}
  100%{opacity:0;}
}


.display{
  display:flex!important;
  animation-name:slider;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes slider{
  0%{left:10%;opacity:0;}
  100%{left:0%;}
}

main{
  position:relative;
  left:15px;
  animation-name: display;
  animation-delay:0.7s;
  animation-duration:1.7s;
  animation-fill-mode: forwards;
}
@keyframes display {
  100%{opacity:1;left:0px;}
}
