.hi-anim {
  animation: 1s 0.5s forwards hi-there-anim;
  animation-timing-function: cubic-bezier(0.68, 0.01, 0.35, 1);
}

.there-anim {
  animation: 1s 0.7s forwards hi-there-anim;
  animation-timing-function: cubic-bezier(0.68, 0.01, 0.35, 1);
}

@keyframes hi-there-anim {
  50% {
    top: -20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.intro-p1-wrap-anim {
  animation: 0.5s 1s ease-out forwards intro-p1-wrap-anim;
}

@keyframes intro-p1-wrap-anim {
  80% {
    left: 10px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.intro-p1-anim {
  animation: 0.7s 1.2s ease forwards intro-p1-anim;
}

@keyframes intro-p1-anim {
  100% {
    right: -5px;
    opacity: 1;
  }
}
.intro-p2-anim {
  animation: 0.7s 1.2s forwards intro-p2-anim;
  animation-timing-function: cubic-bezier(0.68, 0.01, 0.35, 1);
}

@keyframes intro-p2-anim {
  50% {
    bottom: -15px;
  }
  70% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
.main-index-out {
  animation-name: index-main-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes index-main-out {
  0% {
    left: 0;
    opacity: 1;
  }
  50% {
    left: 0;
    transform: scale(0.9);
  }
  90% {
    opacity: 0;
  }
  100% {
    left: -200px;
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes bounce {
  25% {
    opacity: 0;
    top: 25px;
  }
  37.5% {
    opacity: 1;
    top: 50px;
  }
  50% {
    top: 25px;
  }
  67.5% {
    top: 50px;
    opacity: 1;
  }
  80% {
    top: 25px;
  }
  85% {
    opacity: 0;
  }
}
@keyframes ccl-opacity {
  25% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  67.5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
}
.about-image-wrap-anim {
  transform: translatey(-50px);
  opacity: 1 !important;
}

@keyframes about-image-wrap-anim {
  100% {
    transform: translatey(-50px);
    opacity: 1;
  }
}
.about-h2-anim {
  transform: translatex(-30px);
  opacity: 1 !important;
}

@keyframes about-h2-anim {
  100% {
    right: 0;
    opacity: 1;
  }
}
.about-text-anim {
  transform: translateX(30px);
  opacity: 1 !important;
}

@keyframes about-text-anim {
  100% {
    transform: translateX(50px);
    opacity: 1;
  }
}
.stroke-anim {
  animation: 20s linear infinite forwards about-image-stroke;
}

@keyframes about-image-stroke {
  90% {
    stroke-dashoffset: 100;
  }
}
.side-circle-anim {
  position: relative;
  left: -50px;
  opacity: 0px;
  animation-name: side-circle-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.c-2 {
  animation-delay: 0.4s;
}

.c-3 {
  animation-delay: 0.6s;
}

.c-4 {
  animation-delay: 0.2s;
}

@keyframes side-circle-in {
  0% {
    left: -50px;
    opacity: 0;
  }
  60% {
    left: 5px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.article-in {
  opacity: 1 !important;
}

@keyframes article-in {
  100% {
    left: 0;
    opacity: 1;
  }
}
.nav-index {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
}
.nav-index .brgr-index {
  position: relative;
  right: 0;
  padding: 10px 0px;
  display: inline-flex;
  justify-content: flex-end;
  overflow-x: visible;
  cursor: pointer;
}

.nav-projects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
}
.nav-projects .brgr-projects {
  position: relative;
  top: 20px;
  left: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: visible;
  cursor: pointer;
}

.nav-mytools {
  background-color: white;
  position: fixed;
  top: 0;
  left: -20px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #F2F2F2;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.nav-mytools .nav-mt-wrap {
  padding: 10px 0;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}
.nav-mytools .col-left, .nav-mytools .col-right {
  flex: 1 1 50%;
}
.nav-mytools .col-right {
  text-align: right;
  vertical-align: middle;
}
.nav-mytools .mt-title {
  color: #5A5A5A;
  margin: auto;
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
  font: 30px/30px "Slabo 13px", serif;
  transition: all 0.5s ease;
}
.nav-mytools .brgr-mytools {
  position: relative;
  right: 0px;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-x: visible;
  cursor: pointer;
}
.nav-mytools .hide-title {
  opacity: 0;
}

.nav-mytools-in {
  left: 0;
  opacity: 1 !important;
}

.bars-wrap {
  float: left;
  display: block;
  height: 20px;
}

.main-index .bar1, .main-index .bar2, .main-index .bar3, .nav-mytools .bar1, .nav-mytools .bar2, .nav-mytools .bar3 {
  position: relative;
  width: 35px;
  height: 2px;
  border-radius: 15px;
  background-color: #5A5A5A;
  transition: transform 0.3s ease-in-out;
  right: -20px;
  opacity: 0;
  margin: 0 auto;
  transition: all 0.7s ease;
}
.main-index .bar3, .nav-mytools .bar3 {
  transition-delay: 0.1s;
}
.main-index .bar2, .nav-mytools .bar2 {
  margin: 7px auto;
  width: 35px;
  transform-origin: right;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.main-index .bar1, .nav-mytools .bar1 {
  transition-delay: 0.1s;
}
.main-index .unfold .bar3, .nav-mytools .unfold .bar3 {
  transform: translate(-20px, 10px);
}
.main-index .unfold .bar1, .nav-mytools .unfold .bar1 {
  transform: translate(-20px, -10px);
}

.main-projects .bar1, .main-projects .bar2, .main-projects .bar3 {
  position: relative;
  width: 35px;
  height: 2px;
  border-radius: 15px;
  background-color: #5A5A5A;
  transition: transform 0.3s ease-in-out;
  left: -20px;
  opacity: 0;
  margin: 0 auto;
  transition: all 0.7s ease;
}
.main-projects .bar3 {
  transition-delay: 0.1s;
}
.main-projects .bar2 {
  margin: 7px auto;
  width: 35px;
  transform-origin: right;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.main-projects .bar1 {
  transition-delay: 0.1s;
}
.main-projects .unfold .bar3 {
  transform: translate(20px, 10px);
}
.main-projects .unfold .bar1 {
  transform: translate(20px, -10px);
}

.bar-anim-left {
  transform: translateX(-20px);
  opacity: 1 !important;
}

.bar-anim-right {
  transform: translateX(20px);
  opacity: 1 !important;
}

.unfold .bar1 {
  transform: translate(-30px, -10px);
}

.unfold .bar2 {
  width: 0;
}

.unfold .bar3 {
  transform: translate(-30px, 10px);
}

.unfold .brgr-btns {
  right: 0;
  opacity: 1;
}

.unfold .brgr-btns-projects {
  left: 0;
  opacity: 1;
}

.unfold .brgr-btns-wrap {
  width: 220px;
}

.brgr-btns-wrap {
  position: absolute;
  z-index: 0;
  overflow-x: hidden;
  margin-bottom: -5px;
  width: 0;
  transition-delay: 0.2s;
  overflow: hidden;
}

.brgr-btns {
  border-radius: 7px;
  margin: 0 auto;
  position: relative;
  right: -200px;
  opacity: 0;
  display: inline;
  padding: 10px 1px;
  transition: opacity 0.2s ease, right 0.7s ease;
}

.brgr-btns-projects {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  margin: 0 auto;
  position: relative;
  left: -200px;
  opacity: 0;
  display: inline;
  padding: 0 1px;
  transition: opacity 0.2s ease, left 0.7s ease;
}

.brgr-btn {
  font: 16px/16px "Slabo 13px", serif;
  color: #5A5A5A;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}

.vbar {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  margin: 0 20px;
  width: 1px;
  background-color: #B9B9B9;
}

.html-projects {
  height: 100%;
}

.body-projects {
  height: 98%;
  width: 90%;
  margin: auto;
}

.main-projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  position: relative;
  top: 50px;
  opacity: 0;
  transition: all 0.7s ease;
}

.project-in {
  top: 0;
  opacity: 1;
}

.menu {
  position: relative;
  width: 100%;
  top: 50px;
  margin-bottom: 50px;
}
.menu .projects-head {
  margin: auto;
  position: relative;
  padding: 0;
}
.menu .hr {
  border: none;
  height: 1px;
  width: 0;
  background-color: #F2F2F2;
  transition: all 0.5s 0.2s ease;
}
.menu .hr-in {
  width: 100%;
}
.menu .menu-header {
  position: relative;
  left: -30px;
  opacity: 0;
  width: 100%;
  text-align: right;
  font: 43px/40px "Slabo 13px", serif;
  text-transform: uppercase;
  color: #5A5A5A;
  margin-top: 10px;
  transition: all 1s 0.2s ease;
}
.menu .menu-header-in {
  left: 0;
  opacity: 1;
}
.menu .projects-list {
  width: 100%;
  text-align: right;
}
.menu .projects-list ul {
  list-style: none;
  padding: 0;
}
.menu .projects-list .p-item {
  cursor: pointer;
  position: relative;
  right: 0;
  top: -10px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.menu .projects-list .p-item-in {
  top: 0;
  opacity: 1;
}
.menu .projects-list p {
  color: #B9B9B9;
  display: inline-block;
  font: 20px/30px "Slabo 13px", serif;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.menu .projects-list .p-selected p {
  color: #5A5A5A;
  transform: scale(1.5);
}
.menu .projects-list .p-selected .dash {
  background-color: #5A5A5A;
  width: 20px;
  margin: 0 10px 10px 0;
}
.menu .projects-list .dash {
  background-color: #B9B9B9;
  display: inline-block;
  width: 10px;
  margin: 0 10px 7px 0;
  height: 1px;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}
.menu .projects-list .p-item:hover {
  right: -5px;
}
.menu .projects-list .p-item:hover .dash {
  width: 20px;
}

.project {
  border: solid 1px #F2F2F2;
}

.article-project {
  color: #5A5A5A;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 50px auto 10px auto;
  overflow-y: scroll;
}
.article-project p {
  font: 14px/22px "Quicksand", sans-serif;
  margin: 10px 0;
}
.article-project hr {
  border: none;
  width: 80%;
  height: 1px;
  background-color: #F2F2F2;
}

.section-I {
  max-width: 80%;
  margin: 80px auto 50px auto;
}
.section-I .p-head {
  text-align: left;
  margin-top: 12px;
  font: 16px/24px "Slabo 13px", serif;
}
.section-I .p-h2 {
  font: 30px/30px "Slabo 13px", serif;
}
.section-I .col-right {
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  margin: 0px 5px;
}
.section-I .col-left {
  box-sizing: border-box;
  display: inline-block;
  width: 90px;
  vertical-align: top;
  margin: 0px 5px;
}

.section-II {
  max-width: 80%;
  margin: 50px auto;
}
.section-II h3 {
  font: 24px/24px "Slabo 13px", serif;
  margin-bottom: 50px;
}
.section-II .brand-image {
  margin: 20px 0px;
  border-radius: 10px;
  width: 100%;
}
.section-II .col-left {
  vertical-align: top;
  display: inline-block;
}
.section-II .col-right {
  vertical-align: top;
  display: inline-block;
}
.section-II #logo-p {
  margin: 2px 0 0 40px;
}

.section-III {
  max-width: 80%;
  margin: 50px auto 10px auto;
}
.section-III .p-head {
  font: 15px/15px "Slabo 13px", serif;
}
.section-III h3 {
  font: 24px/24px "Slabo 13px", serif;
}
.section-III .project-image {
  width: 100%;
  margin: 0 0;
}
.section-III .row-foot {
  text-align: center;
  margin: 90px 0;
}
.section-III .row-res {
  margin: 50px 0px;
  text-align: center;
}
.section-III .col-right {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  margin: 0 10px;
}
.section-III .col-left {
  vertical-align: top;
  display: inline-block;
  margin: 0 10px;
}
.section-III .visit-project {
  position: relative;
  background-color: inherit;
  text-decoration: underline;
  left: 0;
  font: 15px/25px "Slabo 13px", serif;
  width: 120px;
  height: 25px;
  border: none;
  color: #5A5A5A;
  margin: 30px 0;
  padding-top: 7px;
  outline: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.section-III .visit-project:hover {
  left: 5px;
}
.section-III .p-quote {
  font-family: "Slabo 13px", serif;
}

.p-mail-circle {
  margin: 10px auto;
  width: 55px;
  height: 55px;
  align-items: center;
  border: solid 1px #5A5A5A;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
.p-mail-circle:hover {
  border-style: dashed;
}
.p-mail-circle i {
  color: #5A5A5A;
}

.row-note {
  text-align: center;
  margin: 70px auto;
}

.dash {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #5A5A5A;
  margin: 0px 3px 0 6px;
}

.mini {
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  position: relative;
  left: -50px;
  transition: 0.5s;
}

.mini-disp {
  left: 0;
  opacity: 1;
}

.mini-out {
  vertical-align: middle;
  max-width: 400px;
  display: inline-block;
  min-width: 2px;
  min-height: 2px;
  background-color: #F2F2F2;
  border-radius: 23px;
  overflow-x: hidden;
  white-space: normal;
}

.mini-ctrl {
  opacity: 1;
  left: 0px;
}

p.mini-txt {
  margin: 0px;
  text-align: center;
}

.mini-txt {
  display: none;
  position: relative;
  color: #5A5A5A;
  font-size: 13px;
  line-height: 17px;
  padding: 3px 12px;
  margin: 0px;
  vertical-align: middle;
  opacity: 0;
}

.mini-txt-fade-in {
  animation-name: fade-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.mini-txt-fade-out {
  animation-name: fade-out;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fade-out {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 0px;
  }
}
.disp {
  display: inline-block;
  opacity: 1;
}

.main-mytools {
  position: relative;
  top: 130px;
  opacity: 0;
  transition: all 0.7s 0.5s ease;
}

.main-mytools-in {
  top: 100px;
  opacity: 1 !important;
}

.article-tools {
  margin: 0 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-tools p {
  font: 14px "Quicksand", sans-serif;
  margin: 0;
  text-align: center;
  color: #5A5A5A;
}

.article-hide {
  opacity: 0;
  transition: 0.5s;
}

.FE-header {
  font: 26px "Slabo 13px", serif;
  color: #5A5A5A;
}

.B-header {
  font: 26px "Slabo 13px", serif;
  color: #5A5A5A;
}

.mImp-header {
  font: 26px "Slabo 13px", serif;
  color: #5A5A5A;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.wd-header {
  color: #5A5A5A;
  font: 30px/30px "Pacifico", cursive;
  margin: 10px 0px;
}

.alert-m {
  text-align: center;
  color: white;
  background: linear-gradient(30deg, #D34949, #B24592);
  border-radius: 25px;
  padding: 2px 10px;
  max-width: 400px;
}

.scroll-note {
  color: #B9B9B9;
  font: 12px "Quicksand", sans-serif;
  text-align: center;
  width: 300px;
  margin: auto;
  transition: 0.7s;
}

.scroll-hide {
  opacity: 0;
}

.hl {
  display: block;
  width: 2px;
  height: 45px;
  background-color: #F2F2F2;
  margin: 5px 0 10px 0;
}

.hls {
  display: block;
  width: 2px;
  height: 15px;
  background-color: #F2F2F2;
  margin: 10px 0;
}

.hlt {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #F2F2F2;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.html-index {
  height: 200%;
}

.body-index {
  height: 100%;
  margin: 0 0px;
}

.main-index {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .intro-cont {
  z-index: 1;
  color: #343434;
  display: block;
  width: 220px;
  margin: 0 auto;
  text-align: left;
}
.intro .intro-head p {
  margin: -50px 0;
  font: 53px/50px "Slabo 13px", serif;
  display: inline;
}
.intro .head-hi, .intro .head-there {
  display: inline-block;
  position: relative;
  top: 90px;
  opacity: 0;
}
.intro .intro-p1-wrap {
  position: relative;
  border-radius: 5px;
  left: -20px;
  opacity: 0;
  display: block;
  margin: 0 auto;
  max-width: 340px;
  transform-origin: left;
  height: 40px;
  background-color: #D34949;
}
.intro .intro-p1 {
  position: relative;
  right: -30px;
  opacity: 0;
  margin: 0;
  font: 40px/40px "Slabo 13px", serif;
}
.intro .intro-p2 {
  position: relative;
  bottom: 10px;
  opacity: 0;
  margin: 7px 0;
  font: 18px/18px "Slabo 13px", serif;
  text-align: right;
}

#intro-svg {
  position: absolute;
  z-index: -1;
}

.intro-svg {
  fill: #F2F2F2;
}

.svg-arrow-wrap {
  width: 50px;
  margin: auto;
  text-align: center;
}

.arrow {
  position: relative;
  top: 25px;
  opacity: 0;
}
.arrow path {
  fill: #5A5A5A;
}
.arrow .ccl {
  opacity: 0;
}

.arrow-anim {
  animation: 1.7s 0.2s ease infinite bounce;
}
.arrow-anim .ccl {
  animation: 1.7s 0.2s ease infinite ccl-opacity;
}

.about-me {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}
.about-me .about-cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.about-me .about-h2 {
  color: #5A5A5A;
  font: 35px/30px "Slabo 13px", serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 30px;
  right: -30px;
  opacity: 0;
  transition: all 0.7s ease;
}
.about-me .about-image-wrap {
  position: relative;
  top: 50px;
  opacity: 0;
  width: 224px;
  height: 424px;
  margin: 0 30px;
  transition: all 0.7s ease;
}
.about-me #about-image-svg {
  padding: 2px;
  position: absolute;
  z-index: 0;
}
.about-me .about-image-frame {
  fill: none;
  stroke: #5A5A5A;
  stroke-width: 2px;
  stroke-dasharray: 100 150;
  stroke-linecap: round;
}
.about-me .about-image {
  border: solid 1px #5A5A5A;
  border-radius: 310px;
  width: 200px;
  height: 400px;
  margin: 11px;
  background-image: url(../images/yaseen_image.jpg);
  background-position: 55% 50%;
  background-size: cover;
}
.about-me .about-cont-out {
  opacity: 0;
}

.about-text {
  position: relative;
  left: -30px;
  opacity: 0;
  max-width: 500px;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  transition: all 0.7s ease;
  margin-bottom: 100px;
}
.about-text p {
  color: #5A5A5A;
  font: 16px/20px "Quicksand", sans-serif;
}

.side-links {
  margin-top: -95px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-arrow {
  position: relative;
  cursor: pointer;
  color: #5A5A5A;
  position: absolute;
  z-index: 1000;
  left: -50px;
  transition: all 0.3s ease;
}

.side-arrow-in {
  opacity: 1;
  left: 0;
}

.side-circles-wrap {
  position: relative;
  padding: 2px;
  z-index: 100;
  left: -70px;
  opacity: 1;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 70px;
}

.side-arrow-anim {
  transform: rotate(-180deg);
  left: 40px;
}

.side-circles-reveal {
  left: 0;
  opacity: 1;
}

.side-circle, .mail-circle {
  align-items: center;
  border: solid 1px #5A5A5A;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 10px 0px;
  transition: 0.4s;
}
.side-circle:hover, .mail-circle:hover {
  border-style: dashed;
}
.side-circle i, .mail-circle i {
  color: #5A5A5A;
}

@media screen and (min-width: 1032px) {
  .about-me .about-text {
    bottom: 70px;
  }

  .about-text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 835px) {
  .main-projects {
    display: flex;
    flex-wrap: nowrap;
  }

  .menu {
    width: 600px;
  }
  .menu .projects-head {
    position: fixed;
    top: 50px;
    margin: auto;
    padding: 0;
  }

  .section-I {
    max-width: 80%;
    margin: 80px auto 50px auto;
  }
  .section-I .p-head {
    text-align: right;
    margin-top: 12px;
    font: 16px/24px "Slabo 13px", serif;
  }

  .nav-projects {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    margin: auto;
  }
  .nav-projects .brgr-projects {
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: visible;
    cursor: pointer;
  }
}
@media screen and (min-width: 700px) {
  .intro .intro-cont {
    width: 300px;
  }
  .intro .intro-head p {
    font: 73px/60px "Slabo 13px", serif;
  }
  .intro .intro-p1 {
    font: 56px/50px "Slabo 13px", serif;
  }
  .intro .intro-p2 {
    font: 23px/20px "Slabo 13px", serif;
  }
  .intro .intro-p1-wrap {
    height: 50px;
  }

  .nav-index {
    top: 0;
    width: 90%;
  }

  .about-me .about-h2 {
    font: 40px/35px "Slabo 13px", serif;
    text-align: right;
    top: 60px;
  }

  .side-arrow {
    display: none;
  }

  .side-circles-wrap {
    left: 0;
    background-color: inherit;
  }
}

/*# sourceMappingURL=main.css.map */
